@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Cherry+Bomb+One&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
  --logo-font: 'Cherry Bomb One', sans-serif;
}

* {
  @apply m-0 p-0 scroll-smooth box-border
}

body {
  @apply font-montserrat
}

section {
  @apply py-[25px] px-0
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
span {
  @apply text-heading-color
}

a {
  color: unset;
  @apply no-underline
}
ul {
  @apply list-none
}

.primary__btn {
  @apply bg-secondary-color border-none rounded-[50px]
}

.primary__btn a,
.primary__btn span {
  @apply block text-[1.1rem] text-white px-6 py-2 transition-all
}

.primary__btn a:hover,
.primary__btn span:hover {
  @apply text-inherit
}

.secondary__btn {
  @apply rounded-[50px] border-2 border-secondary-color
}

.secondary__btn a {
  @apply block px-6 py-2 font-medium transition-all
}

.secondary__btn a:hover {
  @apply text-secondary-color
}

.container {
  @apply mx-auto xl:max-w-[1200px] max-xl:px-2;
}

.separate {
  @apply py-1 border-b-2 border-[#faa935] w-24;
}